remote_theme: niklasbuschmann/contrast@v2.8
title: Молодёжный Песенник
author: Чисто новороссийская святая молодёжь
description: Сборник Песен Молодёжи Новороссийской Церкви Евангельских Христиан-Баптистов
permalink: /:title/
lang: "ru"
# baseurl: /songs
excerpt_separator: "\n\n\n"
date_format: "%B %d, %Y"
themecolor: "#40e0d0"

# Layout

sidebar: false               # show a sidebar instead of the usual header
show_excerpts: false         # show article excerpts on the home page
show_related: true           # show the previous and next links after every post
show_description: true       # show the site description in the sidebar
show_title: false            # always keep the site title visible

# Styling

dark_header: false           # always keep the header dark
minimal: false               # use simpler style

# Menu

navigation:
  - {file: "index.md", icon: home}
  - {file: "alphabet.md", icon: address-card}

external:                    # see http://fontawesome.com/icons
#  - {title: Mail, icon: envelope, url: "mailto:a1ip@users.noreply.github.com"}
#  - {title: Github, icon: github, url: "https://github.com/novchurch/songs"}
#  - {title: Subscribe, icon: rss, url: "/feed.xml"}

comments:
#  disqus_shortname: ""      # see https://disqus.com/
#  isso_domain: ""           # see https://posativ.org/isso/

plugins:
 - jekyll-remote-theme

compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  ignore:
    envs: [local]
    
sass:
  style: compressed

defaults:
  -
    scope:
      path: "images"
    values:
      image: true
  -
    scope:
      path: "assets" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
  -
    scope:
      path: "404.html" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
  -
    scope:
      path: "README.md" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
  -
    scope:
      path: "redirects.json" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
  -
    scope:
      path: "manifest.json" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
  -
    scope:
      path: "offline.md" # Exclude from sitemap.xml
    values:
      sitemap:
        exclude: "yes"
