---
layout: default
---
{% include post.html post=page %}

{% if page.collection %}
{% assign posts = site[page.collection] reversed %}


{% if site.show_related %}
  <footer class="related">
    <div class="previous">{% if page.previous.url %}<span>Предыдущая</span><a href="{{ page.previous.url | relative_url }}">№ {{ page.previous.slug }}. {{ page.previous.title }}</a>{% elsif posts.last.url %}<span>Последняя</span><a href="{{ posts.last.url | relative_url }}">№ {{ posts.last.slug }}. {{ posts.last.title }}</a>{% endif %}</div>
    <div class="next">{% if page.next.url %}<span>Следующая</span><a href="{{ page.next.url | relative_url }}">№ {{ page.next.slug }}. {{ page.next.title }}</a>{% elsif posts.first.url %}<span>Первая</span><a href="{{ posts.first.url | relative_url }}">№ {{ posts.first.slug }}. {{ posts.first.title }}</a>{% endif %}</div>
  </footer>
{% endif %}
{% endif %}
