---
layout: default
---
{% include post.html post=page %}

{% if site.show_related %}
  <footer class="related">
    <div class="previous">{% if page.previous.url %}<span>Предыдущая</span><a href="{{ page.previous.url | relative_url }}">№ {{ page.previous.slug }}. {{ page.previous.title }}</a>{% endif %}</div>
    <div class="next">{% if page.next.url %}<span>Следующая</span><a href="{{ page.next.url | relative_url }}">№ {{ page.next.slug }}. {{ page.next.title }}</a>{% endif %}</div>
  </footer>
{% endif %}
